body {
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.course-card {
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: border-color 0.3s ease, transform 0.2s ease;
}

.course-card:hover {
    border-color: green;
    transform: scale(1.02);
}

.course-img {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-primary {
    background-color: #39ff14;
    border: none;
    color: black;
}

.btn-primary:hover {
    background-color: #2bd40f;
}

footer {
    background-color: #111;
    padding: 20px 0;
    color: #aaa;
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid #333;
}

.section-card {
    background-color: black;
    border: none;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 255, 0, 0.2);
}

.card-title {
    color: white;
}

.card-link {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: white;
}

.quick-links ul {
    list-style-type: none;
    padding-left: 0;
}

.quick-links ul li a {
    text-decoration: none;
    color: white;
}

.navbar-brand:hover {
    color: green;
}